<div class="content">
  <h1 class="greeting">Bem vindo, <span class="username">Usuário</span>!</h1>

  <div class="category-selector-container">
    <a class="category-option selected" href="">Vídeo populares</a>
    <a class="category-option" href="">Vídeos favoritos</a>
    <a class="category-option" href="">Assistir mais tarde</a>
  </div>

  <div class="videos-container">
    <app-video-card></app-video-card>
    <app-video-card></app-video-card>
    <app-video-card></app-video-card>
    <app-video-card></app-video-card>
    <app-video-card></app-video-card>
    <app-video-card></app-video-card>
  </div>
</div>
