<div class="header-main-content">
  <a
    class="logo"
    [routerLink]="['/home']"
  >
    <img src="../../../assets/icons/logo.svg" alt="Logo do Restic36 Vídeos">
  </a>

  <app-search-bar></app-search-bar>
</div>

@if (isAuthenticated) {
  @if (profile) {
    <div class="logged-user-container">
      <div class="profile-container">
        <img
          [src]="profile.picture || '../../../assets/images/user-placeholder.png'"
          alt="Foto de perfil do usuário"
          class="profile-picture"
        >
        <div class="profile-info">
          <p>{{ profile.given_name }}</p>
          <p>{{ profile.email }}</p>
        </div>

        <app-button
          theme="default"
          (click)="logout()"
        >
          <img src="../../../assets/icons/logout.svg" alt="">
        </app-button>
      </div>
    </div>
  }
} @else {
  <app-button
    theme="primary"
    (click)="login()"
  >
    <img src="../../../assets/icons/login.svg" alt="">
    Fazer login
  </app-button>
}


