<div class="content">
  <h2 class="search-result-header">Resultado da busca por: "<span>{{ query }}</span>"</h2>

  <div class="filter-options-container">
    <p class="filter">
      <img src="../../../assets/icons/filter.svg" alt="">
      Filtrar:
    </p>
  </div>

  <div class="videos-container">
    <app-video-card size="lg"></app-video-card>
    <app-video-card size="lg"></app-video-card>
    <app-video-card size="lg"></app-video-card>
    <app-video-card size="lg"></app-video-card>
    <app-video-card size="lg"></app-video-card>
    <app-video-card size="lg"></app-video-card>
    <app-video-card size="lg"></app-video-card>
  </div>

</div>
