<div class="content">
  <h2 class="search-result-header">Resultado da busca por: "<span>{{ query }}</span>"</h2>

  <div class="filter-options-container">
    <p class="filter">
      <img src="../../../assets/icons/filter.svg" alt="">
      Filtrar:
    </p>

    <app-button
      (click)="toggleSort('views')"
    >
      @if (sortBy === 'views' && sortOrder === 'asc') {
        <img src="../../../assets/icons/sort-asc.svg" alt="">
      } @else if (sortBy === 'views' && sortOrder === 'desc') {
        <img src="../../../assets/icons/sort-desc.svg" alt="">
      }
      Visualizações
    </app-button>
    <app-button
      (click)="toggleSort('date')"
    >
      @if (sortBy === 'date' && sortOrder === 'asc') {
        <img src="../../../assets/icons/sort-asc.svg" alt="">
      } @else if (sortBy === 'date' && sortOrder === 'desc') {
        <img src="../../../assets/icons/sort-desc.svg" alt="">
      }
      Data
    </app-button>
    <app-button
      (click)="toggleSort('title')"
    >
      @if (sortBy === 'title' && sortOrder === 'asc') {
        <img src="../../../assets/icons/sort-asc.svg" alt="">
      } @else if (sortBy === 'title' && sortOrder === 'desc') {
        <img src="../../../assets/icons/sort-desc.svg" alt="">
      }
      Título
    </app-button>
  </div>

  <div class="videos-container">
    @for (video of videos; track video.id) {
      <app-video-card
        [size]="videoCardSize"
        [id]="video.id"
        [title]="video.title"
        [description]="video.description"
        [url]="video.url"
        [thumbnail]="video.thumbnail"
        [views]="video.views"
        [uploadedAt]="video.uploadedAt"
      >
      </app-video-card>
    }
  </div>

</div>
