.toast-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: var(--zinc-secundary-color);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 14px;
  z-index: 1000;
  animation: in 0.3s, out 0.3s 2.7s;
}

.toast-message {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}
